<!DOCTYPE html>
<html>
<head>
  <title>Law</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="main">
	

	<header>
		<h1>Peterson | Nykamp </h1>
		<h3>ATTORNEYS AT LAW</h3>
		<ul>
			<li><%= link_to "About Us", page_path("about") %></li>
			<li><%= link_to "Attorneys", page_path("attorneys") %></li>
			<li><%= link_to "Practice Areas", page_path("practice_areas") %></li>
			<li><%= link_to "Contact", page_path("contact") %></li>
		</ul>
	</header><!-- /header -->

<%= yield %>
</div>
</body>
</html>
